/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

h1, h2, h3 {
    font-family: inherit;
    text-transform: uppercase; 
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #f55804de;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}


a {
    color:#252525;
    text-decoration: none;
}

a:hover {
    color: white;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    font-weight: bold;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f55804de;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    flex: 1 0 auto;
}

#heder_classes > h1 {
    margin: 0 auto; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Hero section */
#hero {
    position: relative;
    height: 500px;
    width: 100%;
    background: url("../images/gym.jpg") no-repeat center center/cover;
    top: 5px;
}
/* Block advertising element in the picture */
#content{
    width: 100%;
    height: 100%;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.786);
    padding: 0px 100px 0px 100px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#content h1,
#content h2,
#content h3 {
    font-family: inherit;
    text-transform: none; 
    letter-spacing: normal; 
    color: inherit;
}

#membership-block{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

#membership-block h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    margin: 0px;
    flex: 1;
    padding: 0 25px;
}

#benefits{
    flex: 2;
    align-items: start;
    display: flex;
}

#benefits ul {
    width: 40%;
    float: left;
    text-align: left;
    padding-left:30px;
}

#benefits li::marker {
    color: #222256;
    list-style-type: square;
}

/* Blocks with location */
#two_blocks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: stretch;
    background: #222256;
}

#first-rounded-block,
#second-rounded-block {
    flex-grow: 1;
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    display: inline-block;
    padding: 40px; 
    box-sizing: border-box;
    flex-wrap: wrap;
}

#details a,p,h2,h3 {
    display: block;
    margin-bottom: 10px;
}
.club_details:hover{
    color: red;
}

/* Meetup Times section */
#time{
    background: #222256;
    display: flex;
    flex-wrap: wrap;
}
#time div {
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image */
    border: 2px solid white;
    color: white;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #f55804de;
    box-shadow: 0 -2px 2px #3a3a3a;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(255, 255, 255, 0.914);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #252424;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}  

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
}

#benefits p {
    padding: 0 20px;
}

#benefits>div {
    line-height: 20px;
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}
/* Styling 2rd Page "CLASSES" */

/* main content */

#time h3 {
    color: white;
}
img {
     max-width: 90%; 
    border-radius: 20px;
}
.service{
    max-width: 70%;
    padding: 30px;
}
.service:nth-child(2n) {
    margin-left: auto;
}
.lessons_headings,.text {
    margin-bottom: 20px;
}
.section_services_wrapper{
    padding-left: 60px;
    padding-right: 60px;
    background-color:#66818ff5;
    display: flex;
    flex-direction: column;
}
.lessons_headings h2{
    color: white;
}
/* Button to Action */

.button_to_action_text h2 {
    color: black;
}
  .button_to_action_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
  }
  
  .button_to_action_text {
    padding: 4rem;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  /*Styling Buttons*/
  .btn {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: inset 0 -3px 0 1px #0f020b52;
    background: #66818f94;
  }
  
  /* Schedule */
.text {
    font-size: 20px;
    font-weight: bold;
    color:white;

}

/*----- << Styling 3rd Page "CONTACT US" >>----- */
.contact__page{
background-color: #66818fa8;

}
.contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form_container {
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
    max-width: 800px;
    background-color:#222256;
    font-family: sans-serif;
    color: white;
  }
  .sign-up_form {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
  }
  .header_contact{
    grid-column: 1 / span 2;
    justify-self: center;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: white;
  }

.text_input {
    margin: 0.2rem 1rem;
    padding: 1.8vh;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    width: 90%;
    border-radius: 10px;
  } 
  .label_first_name {
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding-top: 20px;

  }
  .input_first_name {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
  }

  .label_last_name{
    grid-row: 4;
    grid-column: 1;
    justify-self: center;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding-top: 20px;
  }

  .input_last_name {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
  }

  .label_email{
    grid-row: 5;
    grid-column: 1;
    justify-self: center;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding-top: 20px;
  }

  .input_email {
    grid-row: 5;
    grid-column: 2;
    justify-self: center;
  }

  .label_phone_number{
    grid-row: 6;
    grid-column: 1;
    justify-self: center;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding-top: 20px;
  }
  .input_phone_number{
    grid-row: 6;
    grid-column: 2;
    justify-self: center;
  }
  .label_message{
    grid-row: 7;
    grid-column: 1;
    justify-self: center;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding-top: 20px;
  }
  .input_message{
    grid-row: 7;
    grid-column: 2;
    justify-self: center;
  }
    /*Styling 2 Button*/
  .btn-special {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: inset 0 -3px 0 1px #0f020b52;
    background: #eeeeeebd;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

  .contact_form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  /*----- << Styling "RESPONSE" >>----- */
.response__page {
    background-color: #66818fa8;
}
.response__main {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.response{
    font-size: larger;
    padding: 5%;
    max-width: 70%;
    background-color: white;
    border-radius: 20px;

}
.response p{
    font-size: 30px;
}

/* Smaller device (phone, tablet, 768 and down) */
@media screen and (max-width: 768px) {
    #hero {
        background-position: left
    }
    #content{
        width: 100%;
        height: 100%;
        padding: 30px;
    }
    #membership-block{
        display: block;
    }
    #benefits{
        padding: 20px 20px;
        flex-direction: column;
    }
    #benefits ul{
        width: 100%;
    }
    #first-rounded-block,
    #second-rounded-block {
        max-width: 100%;
    }
    /* main content on the classes page */
    .section_services_wrapper{
        padding: 0;
        flex-direction: column;
    }  
    .service{
        max-width: none;
    }
    #heder_classes > h1 {
    margin-top: 60px;
    }
    /*----- << Styling 3rd Page "CONTACT US" >>----- */
    .form_container{
        max-width: 90%;
        margin-bottom: 50px;
    }
    .button_submit{
        margin-top: 20px;
    }
    .sign-up_form{
    display: flex;
    flex-direction: column;
    }
    /*----- << Styling Response Page >>----- */
    .response{
        font-size: medium;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
     /* Header */
     nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color:  #f5580400;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }


    #contact a {
        display: block; 
        margin-bottom: 5px; 
    }

    #contact {
        width: 45%;
        height: 300px;
    }


     /* Hero image */
     #cover-text {
        width: 300px;
        right: 50px;

    }

    /* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#benefits-physical > div,
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

}